@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');

body {
  /*padding: 50px;*/
  font: 14px 'Noto Sans',"Lucida Grande", Helvetica, Arial, sans-serif;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: rgb(192, 128, 63);
  border-color: #911821;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: 1em;
  max-width: 100%;
}

.navbar-light .navbar-brand {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-left: 0.4em;
  margin-bottom: 0.5em;
}

button {
  border: 2px solid #ccc;
  background-color: rgb(192, 128, 63);
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  color: #fff;
}

button:hover {
  background-color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  text-align: left;
}

label[for="filebutton"] {
  border: 3px solid #ccc;
  background-color: rgb(192, 128, 63);
  border-radius: 0.5em;
  padding: 1em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5em;
}

label[for="filebutton"]:hover {
  background-color: #333;
  cursor: pointer;
}

input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

a.navbar-brand {
  font-size: 25px;
  font-family: 'Lobster', cursive;
}

#fileList {
  font-size: 12px;
  font-weight: bold;
  display: flex;
}

#fileList p {
  color: red;
  padding-top: 1.5em;
}


#uploadButton {
  margin-top: 0.5em;
}

#uploadContainer {
  margin-top: 80px;
  margin-left: 0.8em;
}

#fileInput {
  margin-left: 10px;
}

#imageDisplay {
  display: flex;
  flex-wrap: wrap;
  /*
  grid-template-columns: repeat(auto-fill, minmax(300px, auto))
  */
}

.imgContainer {
  margin: 2em;
}

.imgContainer img {
  max-width: 100%;
}

#uploadButton {
  display: block;
}

#singleImage {
  margin: 1em;
  margin-top: 5em;
}

#singleImage:hover {
  cursor: pointer;
}

#commentDisplay {
  margin: 1em;
  overflow-wrap: break-word;
  width: 75%;
}

#commentContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(192, 128, 63, 0.1);
}

#commentLabel {
  background-color: rgba(192, 128, 63, 0.3);
  padding: 0.5em;
  /*margin-bottom: 0.1em;*/
}

#commentText {
  padding: 0.5em;
  /*padding: 0.5em;*/
}

#commentInput {
  margin: 1em;
}

#authorInput {
  margin-left: 0.3em;
  margin-bottom: 0.4em;
}

#inputBox {
  height: 200px;
  width: 500px;
  margin-bottom: 0.2em;
  display: block;
  resize:none;
}

.hidden {
  display: none;
}

.row {
  --bs-gutter-x: 0;
}
