extends layout
include _includes/HTMLfunctions
block script
  script(src='/javascripts/mainscript.js' defer)
block content
  div(class="container-fluid")
    div(class="layoutContainer row")
      div(class="uploadContainer col-12 col-xxl-3")
        h1 IMAGE UPLOAD
        form(class="fileInput" action="/upload" method="post" enctype="multipart/form-data")
          ul
            li
              label(for="titleInputBox") Image Title:
              input(id="titleInputBox" name="title" required)
              span: small  (max 20 characters)
              p(class="counterText hidden"): small(class="counterTextInner")
            li
              label(for="filebutton") Choose Image
              span: small  (jpg, png, webp supported)
              input(type='file' name='image' id='filebutton' accept="image/*" required)
              div(id="fileList" class="hidden")
            li
              button Upload
      div(class='rightLayout col-12 col-xxl-8')
        div(class='imageDisplay')
          each image in images
            div(class="imageItem")
              div(class='card')
                a(class="card-img-top" href=`/image/${image._id}`)
                  img(class="images" src=`${image.placeholderuri}` data-src=`${image.thumburi}`)
                div(class="card-body")
                  p(class="card-title") #{image.title}
                  small(class="card-text timestamp")
                    +formatDate(image.timestamp)
