extends layout
block script
  script(src='/javascripts/mainscript.js' defer)
block content
  div(id="root" class="container")
    div(id="uploadContainer")
      h1 Image Upload
      form(id="fileInput" action="/upload" method="post" enctype="multipart/form-data")
        label(for="filebutton") Choose Image
        input(type='file' name='image' id='filebutton' accept="image/*" required)
        div(id="fileList")
        button(id="uploadButton") Upload!
    div(id='imageDisplay')
      each image in images
        div(class='imgContainer'): a(href=`/image/${image._id}`): img(class="images" data-src=`${image.thumburi}`)
